@import "./mixins";

#nav {
  border-bottom: 1px solid #f9c59f;
  z-index: 1;
  width: 100%;
  background-color: rgba(255,255,255,0.95);
  margin-bottom: 20px;
  .displayFlex;
  .alignCenter;
  h3 {
    flex:1;
    a {
      color:#333;
    }
  }

  ul {

      width:95vw;
    .displayFlex;
    .alignCenter;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    li {
      padding: 1.2em 0;
      a {
        padding: 1em .5em;
        font-size: 0.9em;
        border-radius: 3px;;
        i {
          margin-right: 0.2em;
        }
        .transition();
        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .title,i.fa {
      display:none;
    }
    position: fixed;
    top:0;
    left:0;
  }
  @media only screen and (min-width: 768px) {

  }
}
