@import "./mixins.less";

#details {
  .description {
    margin-top: 15px;
    line-height: 1.5em;
  }
  .well, .challenge, .approach {
    margin-top:20px;
  }
  .challenge, .approach {
    div {
      margin-top:10px;
      font-size: 0.9em;
      line-height: 1.5em;
    }
  }
  ul {
    margin-top:10px;
    font-size: 0.9em;
    list-style: disc;
    margin-left:20px;
    li {
      margin-top:10px;
      line-height: 1.5em;
    }
    &.clients {
      margin-left:40px;
    }
  }
  .spotlights {
    margin-top:2em;
    .spotlight {
      border-top:1px solid rgba(0,0,0,0.08);
      margin-top:3em;
      padding-top:1em;
      h5 {
        color:#333333;
        margin-bottom: 10px;
      }
      img {
        margin-top:1em;
      }
    }
  }
  hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
  }
  .back {
    font-size: 0.8em;
  }

  @media only screen and (max-width: 767px) {
    .images, .spotlight {
      img {
        margin:10px 0;
        width:100%;
        max-width:350px;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .images, .spotlight {
      text-align: center;
      img {
        margin:0 10px;
        width:100%;
        &.half {
          width: calc(~"100% * (1/2) - 20px");
        }
      }
    }
    .spotlight {
      text-align: initial;
    }
  }
}
