.dropShadow {
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.displayFlex {
  display: flex;
  display: -webkit-flex;
}
.alignCenter {
  -webkit-align-items: center;
  align-items: center;
}
.justifyCenter {
  -webkit-justify-content: center;
  justify-content: center;
}
.flex1 {
  flex: 1;
  -webkit-flex: 1;
}
#contact .well {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin-bottom: 0;
}
#contact .well h4,
#contact .well h5 {
  margin-bottom: 10px;
}
#contact .well h3 {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 5px;
}
#contact .well .icon,
#contact .well h5 {
  color: #666;
}
#contact .well form {
  width: 100%;
}
#contact .well form textarea {
  resize: none;
}
#contact .well form .alert {
  margin-bottom: 10px;
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
  font-size: 0.8em;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
}
#contact .well form .alert.show {
  opacity: 1;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}
#contact .well form .help-inline {
  font-size: 13px;
  font-weight: normal;
  vertical-align: top;
  margin-top: 10px;
}
#contact .well form button {
  width: 120px;
  display: inline-block;
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  border: none;
  color: white;
  background-color: #2ecc71;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
#contact .well form button:hover,
#contact .well form button:active {
  background-color: #27ae60;
}
#contact .well form button.hidebutton {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
