.dropShadow {
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.displayFlex {
  display: flex;
  display: -webkit-flex;
}
.alignCenter {
  -webkit-align-items: center;
  align-items: center;
}
.justifyCenter {
  -webkit-justify-content: center;
  justify-content: center;
}
.flex1 {
  flex: 1;
  -webkit-flex: 1;
}
#main {
  width: 100vw;
  height: 100vh;
  color: white;
}
#main.page {
  max-width: initial;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
}
#main.page .container {
  max-width: 800px;
  z-index: 1;
}
#main.page .content {
  opacity: 0.5;
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -o-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#main.page .content.show {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
#main .nav {
  opacity: 0.5;
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -o-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#main .nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
#main #nav {
  z-index: 1;
  background-color: initial;
}
#main #nav ul li a {
  color: #fff;
}
#main #nav ul li a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}
#main h1 {
  margin: 0.4em 0;
  font-size: 4em;
  text-align: center;
  font-family: 'Lora', serif;
  line-height: 1;
}
#main .lead {
  margin-bottom: 1px;
  font-size: 1.3em;
  font-weight: 200;
  line-height: 1.5em;
  text-align: center;
}
#main .well {
  background-color: initial;
  border: initial;
}
#main .well ul li {
  color: white;
}
#main .background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/img/landing.jpg);
  background-size: cover;
}
#main .overlay {
  background: rgba(3, 3, 3, 0.5);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media only screen and (max-width: 767px) {
  #main .background {
    background-position: 30% 0;
  }
  #main.page {
    margin-top: 0 !important;
    padding: 0 !important;
  }
  #main.page h1 {
    font-size: 3em;
    margin-top: 2em;
  }
  #main .content {
    margin-top: 75px;
    padding: 0 20px;
  }
  #main .content .well {
    padding: 0;
  }
  #main .content .well ul li {
    font-size: 0.9em;
    margin-top: 0.75em;
  }
}
@media only screen and (min-width: 768px) {
  #main .well ul li {
    margin-top: 0.5em;
  }
  #main .container {
    padding: 0 20px;
  }
}
