.dropShadow {
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.35);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.displayFlex {
  display: flex;
  display: -webkit-flex;
}
.alignCenter {
  -webkit-align-items: center;
  align-items: center;
}
.justifyCenter {
  -webkit-justify-content: center;
  justify-content: center;
}
.flex1 {
  flex: 1;
  -webkit-flex: 1;
}
#nav {
  border-bottom: 1px solid #f9c59f;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  margin-bottom: 20px;
  height: 60px;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
}
#nav h3 {
  flex: 1;
}
#nav h3 a {
  color: #333;
}
#nav ul.logoContainer {
  margin-left: 10px;
  margin-right: initial;
  height: inherit;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  width: 100px;
}
#nav ul.logoContainer li {
  display: flex;
  display: -webkit-flex;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  padding: 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
#nav ul.logoContainer li.show {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
#nav ul.logoContainer li a {
  padding: initial;
}
#nav ul.logoContainer li .logo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 25px;
}
#nav ul {
  width: calc(100% - 110px);
  margin-right: 10px;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
#nav ul li {
  padding: 1.2em 0;
}
#nav ul li a {
  padding: 1em .5em;
  font-size: 0.9em;
  border-radius: 3px;
}
#nav ul li a i {
  margin-right: 0.2em;
}
#nav ul li a:hover {
  background-color: #f7f7f7;
}
#nav ul li.active a {
  background-color: #eee;
}
@media only screen and (max-width: 767px) {
  #nav {
    position: fixed;
    top: 0;
    left: 0;
  }
  #nav .title,
  #nav i.fa {
    display: none;
  }
}
